/**
* CSS that is globally re-usable
*/

/* Fonts */
@font-face {
  font-family: 'Arial';
  src: url('../fonts/arial/arial_regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url('../fonts/arial/arial_italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Arial';
  src: local('Arial Regular'), local('Arial-Regular'),
    url('../fonts/arial/arial_bold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url('../fonts/arial/arial_bold_italic.ttf');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Arial';
  src: url('../fonts/arial/arial_black.ttf');
  font-weight: 900;
  font-style: normal;
}

/* General */
html,
body {
  font-family: 'Lato', 'Arial' Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  background-image: linear-gradient(#ffffff, #89b3c7);
}
